/* SETTAGGI GENERALI */
* {
    font-family: 'Roboto Condensed', sans-serif;
}

h1,h2,h3,h4,h5 {

    font-family: 'Bebas Neue', sans-serif;
}

.header-text {
    font-family: 'Raleway', sans-serif;
    ;
}


a {
    color: var(--main) !important;
}

body {
    background-color: var(--white);
    color: var(--main);
    margin: 0px;
    padding: 0px;
}




:root {

    --main: #001542;
    --sec: #085454;
    --grey: rgb(122, 122, 122);
    --white: rgb(247, 247, 247);
    --yellow: #ffb30b;
}

/* BG COLOR */

.bg-main {
    background-color: var(--main);
}

.bg-sec {
    background-color: var(--sec);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-white {
    background-color: var(--white);
}

.bg-yellow {
    background-color: var(--yellow);
}

/* TEXT COLOR */

.text-main {
    color: var(--main);
}

.text-sec {
    color: var(--sec);
}

.text-grey {
    color: var(--grey);
}

.text-white {
    color: var(--white);
}

.text-yellow {
    color: var(--yellow);
}

/* BORDER COLOR */

.border-main {
    border-color: var(--main);
}

.border-sec {
    border-color: var(--sec);
}

.border-grey {
    border-color: var(--grey);
}

.border-white {
    border-color: var(--white);
}

.border-yellow {
    border-color: var(--yellow);
}

/* //homepage */

header {

    /* background: linear-gradient(0deg, rgba(64,64,64,0.3) 44%, rgba(149,148,148,0.6) 100%), url(/public/media/header.jpg);
*/

    background: linear-gradient(180deg, rgba(115, 114, 114, 0.1) 0%, rgba(149, 148, 148, 0.3) 20%, rgba(220, 219, 219, 0.5) 82%),
        url(/public/media/header.jpg) no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;

}

@media screen and (max-width: 992px) {
    header {

        background: linear-gradient(180deg, rgba(115, 114, 114, 0.1) 0%, rgba(149, 148, 148, 0.3) 20%, rgba(220, 219, 219, 0.5) 82%),
            url(/public/media/header.jpg) no-repeat;
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-position-x: -120px;
    }
}

.redPoint {
    margin-top: -32px;
    margin-left: 130px;
}


/* navbar */

.logo {
    width: 70px;
    height: 70px;
}


.btn-search {
    background-color: transparent;
    color: var(--main);
    border-color: var(--main);
}

.btn-search:hover {
    background-color: var(--main);
    color: var(--white);
    border-color: var(--white);
}



@media screen and (min-width:900px) {
    .search-cus {
        width: 26vw;
    }

}

.img-preview {
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: center; */
    background-size: contain;
}

/* show */

.showCus {

    border-radius: 10px;
    padding: 10px;
    box-shadow: -2px 8px 15px 3px var(--grey);
    height:50%;

}



.priceCus{
    font-size: 25px;
}

/* banner cus */

.banner-cus {

    background: linear-gradient(180deg, rgba(115, 114, 114, 0.1) 0%, rgba(149, 148, 148, 0.3) 20%, rgba(220, 219, 219, 0.5) 82%), url(/public/media/banner-2.png) no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: -2px 8px 15px 3px var(--grey);


}

@media screen and (max-width: 900px) {
    .banner-cus {
        box-shadow:none;
        width: 90%;
    }

    
}

.articles-section{
    height: 100vh;
    width: 100%;
    background-color: var(--white);
}

@media screen and (max-width: 900px) {
    .articles-section{
        height: fit-content;
        width: 100%;
        
    }
    
}
.grid-section{
    height: 100vh;
    width: 100%;
    background-color: var(--sec);
    
}

.bodyWork {
    background: linear-gradient(0deg, rgba(115, 114, 114, 0.1) 0%, rgba(149, 148, 148, 0.196) 20%, rgba(247, 247, 247, 0.855) 82%), url('/public/media/workwithus.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

@media screen and (max-width: 900px) {
    .mediaWork {
        padding: 20px;
        height: fit-content;
    }

    .bodyWork{
        height: fit-content;
    }


    
}

.bodyCreate{
    background: linear-gradient(0deg, rgba(115, 114, 114, 0.1) 0%, rgba(149, 148, 148, 0.3) 20%, rgba(220, 219, 219, 0.5) 82%), url('/public/media/create.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.boxCreate{
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: -2px 8px 15px 3px var(--grey);
    
}

@media screen and (max-width: 900px) {
    .mediaCreate{
        padding: 20px;
    }
       .bodyCreate{
        height: fit-content;
       }
    }

